* {
    margin: 0;
    padding: 0;
    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: auto;
    height: auto;


}

.wrapper {
    height: 100%;
    background-color: #fbfbfa;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.blueBar {
    text-align: center;
    background-color: #3e55a2;
    color: #fefeff;
    max-height: 40px;
    width: 100%;

}

.blueBar a {
    background-color: #3e55a2;
    color: #f8fffe;
}

.blueBar :hover {
    text-decoration: none;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}



.gitHubButton {
    background-color: #1c2022;
    color: white;
    border-radius: 10px;
    padding: 5px 20px;
    align-content: center;
    cursor: pointer;
}

.navBarTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    width: 40%;
    font-size: small;
    align-content: center;
    align-items: center;
}

.navBarTwo a {
    color: #1c2022;
    text-decoration: none;
    font-weight: bolder;
}

.flexContainers {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 70px;
    margin: 100px 50px;
    max-width: 1500px;
    align-content: center;
}

.colorChangeText {
    color: #3e55a2;
    font-size: 40px;
}

.imageOfContainers img {
    width: 80%;
    height: 60%;
    margin-left: 40px;
}

.secondImage {
    width: 170px;
    height: 100px;
}

.containerItems {
    text-align: left;
    width: 70%;
    margin-top: 25px;
    align-items: center;
    align-content: center;
    align-self: center;
    color: #7a727b;

}

.containerItems a {
    color: #7a727b;
}

.specialContainer {
    display: flex;
    width: 70%;
    height: auto;
    background-color: white;
    border-radius: 10px;

}

.GitHubButtonTwo {
    background-color: #ed2d4a;
    color: white;
    border-radius: 10px;
    padding: 5px 20px;
    align-content: center;
    cursor: pointer;
}

.youtubeContainers {
    display: flex;
    justify-content: center;
    margin-top: 500px;
}


.kevinAndJessica {
    background-color: #fefeff;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin: 30px;
    max-width: 500px;
    border: 1px solid gray;
}

.kevinAndJessicaImage {
    width: 70px;
    border-radius: 100px;
}

.kevinAndJessicaText {
    color: #3e55a2;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    align-content: center;

}

.youTuber {
    color: #a98977;
}


.sixtySix {
    width: 60px;
    height: 50px;
}

.kevinAndJessica>div {
    margin: 10px;
}


.features {
    margin-top: 100px;
    text-align: center;
    font-weight: bolder;
}


.featuresLinks {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}


.linksAndImages {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    max-width: 300px;
    max-height: 70px;
}

.linksAndImages img {
    width: fit-content;
    height: fit-content;
}

.colorChangeSecond {
    color: #1c2022;
    font-size: 50px;
}

.emojiData {
    font-size: 40px;
    border-radius: 50px;
    background-color: #f1f4f5;
    padding: 10px;
}

.marginContainer {
    margin-top: 550px;
}

.secondWrapper {
    width: 100%;
    height: auto;
}


.HowItWorksContainers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid;
    background-color: #f0f4f4;
    margin: 24px auto;
    width: 50%;
    height: auto;

}

.HowItWorksContainers img {
    width: 50%;
}

.howItWorksFlex {
    color: black;
}

.changeTextTwo {
    font-size: 30px;
    text-align: left;
    font-weight: bold;

}


.ringNumbers {
    background-color: #6bbfcd;
    color: white;
    border-radius: 100px;
    margin-right: 30px;
}

.singleNumber {
    background-color: white;
    color: #3f55a3;
    border-radius: 50px;
    margin-right: 30px;
}

.itemsHowItWorks {
    width: 100%;
    background-color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: start;
}


.namingSense {
    margin-top: 40px;
    background-color: #3f55a3;
    color: white;
    border-radius: 10px;
    margin-left: 20px;

}